temperature-capture.json
[
	{
		"id": "4b136e820a403153",
		"type": "tab",
		"label": "IOT Temperature Capture",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "c647e3a651552261",
		"type": "mqtt in",
		"z": "4b136e820a403153",
		"name": "",
		"topic": "topic_sensor_temperature",
		"qos": "2",
		"datatype": "auto-detect",
		"broker": "7b74379fa1c664d7",
		"nl": false,
		"rap": true,
		"rh": 0,
		"inputs": 0,
		"x": 170,
		"y": 580,
		"wires": [["4bf2ba5bcb42b13c", "c5343bc5fcc5da85"]]
	},
	{
		"id": "4bf2ba5bcb42b13c",
		"type": "ui_chart",
		"z": "4b136e820a403153",
		"name": "",
		"group": "49618f8247ca9efa",
		"order": 0,
		"width": 0,
		"height": 0,
		"label": "Temperatura do paciente",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": 1,
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"outputs": 1,
		"useDifferentColor": false,
		"className": "",
		"x": 570,
		"y": 580,
		"wires": [[]]
	},
	{
		"id": "c5343bc5fcc5da85",
		"type": "function",
		"z": "4b136e820a403153",
		"name": "Generate debug msg",
		"func": "var num = Number(msg.payload.substring(0, msg.payload.length - 1))\n\nif(num >= 38)\n{\n    msg.payload = `Paciente está em estado febril, com ${num}C`;\n} else {\n    msg.payload = `Paciente não está em estado febril, com ${num}C`;\n}\n\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 420,
		"y": 660,
		"wires": [["1db1692a23586551"]]
	},
	{
		"id": "1db1692a23586551",
		"type": "debug",
		"z": "4b136e820a403153",
		"name": "debug 2",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 680,
		"y": 660,
		"wires": []
	},
	{
		"id": "7b74379fa1c664d7",
		"type": "mqtt-broker",
		"name": "",
		"broker": "broker.hivemq.com",
		"port": "1883",
		"clientid": "",
		"autoConnect": true,
		"usetls": false,
		"protocolVersion": "4",
		"keepalive": "60",
		"cleansession": true,
		"autoUnsubscribe": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthRetain": "false",
		"birthPayload": "",
		"birthMsg": {},
		"closeTopic": "",
		"closeQos": "0",
		"closeRetain": "false",
		"closePayload": "",
		"closeMsg": {},
		"willTopic": "",
		"willQos": "0",
		"willRetain": "false",
		"willPayload": "",
		"willMsg": {},
		"userProps": "",
		"sessionExpiry": ""
	},
	{
		"id": "49618f8247ca9efa",
		"type": "ui_group",
		"name": "Info",
		"tab": "0deb47d07dc7288f",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false,
		"className": ""
	},
	{
		"id": "0deb47d07dc7288f",
		"type": "ui_tab",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]
